RewriteEngine on

RewriteEngine On
RewriteBase /jotform-easylobby/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

<Files ~ "(.json)">
Order allow,deny
Deny from all
</Files>